<!DOCTYPE html>
<html lang="en" class="scrollbar" id="style-7">
  <link rel="stylesheet" href="css/button.css" />
  <link rel="stylesheet" href="css/style.css" />

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <style>
    img {
      height: 100%;
    }
    .sright {
      gap: 2rem;
      justify-content: flex-start;
      padding-top: 10rem;
    }
  </style>

  <body>
    <div class="navMain">
      <a href="/" id="projectName"><span>S</span>plit <span>S</span>hield</a>
      <nav>
        <a href="/" class="active">Home</a>
        <a href="#">Blogs</a>
        <a href="#">Contact Us</a>
        <a href="#" id="log_in">Log In</a>
      </nav>
    </div>
    <hr />
    <!-- body -->
    <body>
      <div class="successBody">
        <h1>Failed</h1>
        <h2>Somthing went wrong try again!</h2>
        <p>Error: <%= error %></p>
      </div>
    </body>
  </body>
</html>
